@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../components/nav.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #062863;
}

a {
  text-decoration: none;
}

main {
  margin-left: 15%;
}

main .header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 0;
}

.header i {
  display: none;
  margin-left: 30px;
}

.header h3 {
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bolder;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
  main {
    margin-left: 0;
  }

  .header i {
    display: block;
  }
}

.main-landing {
  padding: 20px 30px;
  background: #fff;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.landing {
  height: 90vh;
  padding: 30px;
  overflow: auto;
}

.balance p {
  font-size: 14px;
  margin-bottom: 25px;
}

.balance span {
  font-size: 35px;
  font-weight: bolder;
}

.action {
  margin: 50px 0 100px;
}

.cards .palette {
  height: 200px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  transition: transform 0.5s ease;
  width: 300px;
  border: 1px solid green;
}

.cards .palette:hover {
  transform: scale(1.02);
}

.palette .palette-head {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.palette .palette-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.palette-body h1 {
  text-align: center;
}

.palette-body span {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 13px;
  font-weight: bolder;
}

hr {
  border: 1px solid #e4e4e4;
}

@media screen and (max-width: 400px) {
  .main-landing,
  .landing {
    padding: 20px 10px;
  }
  .cards .palette {
    width: 95%;
  }

  .palette-body h1 {
    font-size: 20px;
  }

  .palette .palette-head {
    display: unset;
    padding-bottom: 5px;
  }

  .palette .palette-head h1 {
    display: unset;
    margin-bottom: 10px;
  }

  .palette .palette-head a {
    display: unset;
    margin-right: 10px;
  }
}
