@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../components/nav.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #062863;
}

a {
  text-decoration: none;
}

main {
  margin-left: 15%;
}

main .header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 0;
}

.header i {
  display: none;
  margin-left: 30px;
}

.header h3 {
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bolder;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
  main {
    margin-left: 0;
  }

  .header i {
    display: block;
  }

  .expand {
    width: 250px;
    background: #fff;
    z-index: 1;
    transition: 0.5s ease;
  }

  .opaque {
    opacity: 0.6;
  }
}

.main-landing {
  padding: 20px 30px;
  background: #fff;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.landing {
  overflow-y: scroll;
  height: 90vh;
}

.main-landing ul {
  display: flex;
  list-style: none;
  border-bottom: 1px solid #e4e4e4;
  padding: 20px 0 0;
}

.main-landing ul li {
  margin-right: 30px;
}

.main-landing ul li button {
  background: none;
  padding: 10px;
  border: none;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: bold;
  cursor: pointer;
  outline: none;
  color: #8f8f8f;
}

.account,
.security {
  margin: 50px 0;
  padding: 10px 20px;
}

.account h1,
.security h1 {
  color: #8f8f8f;
}

.security h1 + p {
  margin-top: 15px;
  font-size: 13px;
}

.flex,
.email,
.number,
.old-password,
.new-password {
  margin: 50px 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

.flex .info,
.email .info,
.number .info,
.old-password .info,
.new-password .info {
  width: 25%;
}

.flex .action,
.email .action,
.number .action,
.old-password .action,
.new-password .action {
  margin-left: 50px;
}

.flex .info h3,
.email .info h3,
.number .info h3,
.old-password .info h3,
.new-password .info h3,
.number .info h3 {
  font-size: 17px;
  color: #000035;
}

.flex .info p,
.email .info p,
.number .info p {
  font-size: 14px;
}

.old-password .action input,
.new-password .action input {
  padding: 10px 5px;
  width: 300px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}

@media screen and (max-width: 800px) {
  .flex,
  .email,
  .number,
  .old-password,
  .new-password {
    flex-direction: column;
    align-items: unset;
    padding: 0 10px;
    width: 100%;
  }

  .flex .info,
  .email .info,
  .number .info,
  .old-password .info,
  .new-password .info {
    width: 100%;
    margin-bottom: 10px;
  }

  .flex .action,
  .email .action,
  .number .action,
  .old-password .action,
  .new-password .action {
    margin-left: unset;
  }

  .flex .info h3,
  .email .info h3,
  .number .info h3,
  .old-password .info h3,
  .new-password .info h3,
  .number .info h3 {
    margin-top: 3px;
  }

  .old-password .action input,
  .new-password .action input {
    padding: 10px 5px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
  }
}

.account input[type="submit"] {
  margin: auto;
}

.active {
  border-bottom: 1px solid #9494f8 !important;
}
.show {
  display: none;
}

.pointer-none {
  display: none !important;
}

@media screen and (max-width: 1280px) {
  .open-nav {
    width: 300px;
    background: #ffffff;
    z-index: 1;
    padding: 20px;
  }
}
