@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../components/nav.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #062863;
}

a {
  text-decoration: none;
}

main {
  margin-left: 15%;
}

main .header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 0;
}

.header i {
  display: none;
  margin-left: 30px;
}

.header h3 {
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bolder;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
  main {
    margin-left: 0;
  }

  .header i {
    display: block;
  }
}

.main-landing {
  padding: 20px 30px;
  background: #fff;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .main-landing {
    padding: 20px 10px;
  }
}

.landing {
  height: 82vh;
  padding: 30px;
  overflow: auto;
}

.landing h4 {
  margin: 0 0 10px;
}

hr {
  border: 1px solid #e4e4e4;
}

.confirm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.card {
  margin: 10px 20px 10px 0;
  width: 30%;
}

@media screen and (max-width: 1050px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 700px) {
  .flex {
    justify-content: center;
  }

  .card {
    width: 90%;
  }
}

.card-header {
  color: #ffffff;
  color: diamond;
}

select {
  display: none;
}

.plan {
  display: none;
  width: 50%;
}

.pending {
  margin: 50px 0;
}

.pending div p {
  margin: 20px 0;
}

@media screen and (max-width: 1280px) {
  .open-nav {
    width: 300px;
    background: #ffffff;
    z-index: 1;
    padding: 20px;
  }
}
