@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../components/nav.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  background: rgba(179, 221, 255, 0.1);
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

main {
  margin-left: 15%;
}

main .header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 0;
}

.header i {
  display: none;
  margin-left: 30px;
}

.header h3 {
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bolder;
}

@media screen and (max-width: 1280px) {
  main {
    margin-left: 0;
  }

  .header i {
    display: block;
  }

  .expand {
    width: 250px;
    background: #fff;
    z-index: 1;
    transition: 0.5s ease;
  }

  .opaque {
    opacity: 0.6;
  }
}

.main-landing {
  padding: 20px 30px;
  background: #fff;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .main-landing {
    padding: 20px 10px;
  }
}

.landing {
  height: 90vh;
  padding: 30px;
  overflow: auto;
}

.balance p {
  font-size: 14px;
  margin-bottom: 25px;
}

.balance span {
  font-size: 35px;
  font-weight: bolder;
}

.action {
  margin: 50px 0 100px;
}

.action h1 {
  color: grey;
  font-size: 40px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  align-content: center;
}

@media screen and (max-width: 830px) {
  .cards {
    flex-direction: column;
  }
}

.cards div {
  height: 250px;
  width: 30%;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 20px;
  transition: transform 0.5s ease;
}

@media screen and (max-width: 830px) {
  .cards div {
    width: 300px;
    margin-top: 20px;
  }
}

.cards div:hover {
  transform: scale(1.02);
}

.cards div:nth-child(1) {
  background-color: #9494f8;
}

.cards div:nth-child(2) {
  background-color: #d2691e;
}

.cards div h3,
.cards div a {
  margin-bottom: 30px;
  color: white;
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 830px) {
  .data {
    flex-direction: column;
  }
}

.data .s-i-s {
  width: 60%;
  padding: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  margin-bottom: 20px;
}

@media screen and (max-width: 830px) {
  .data .s-i-s {
    width: 100%;
  }
}

.data .s-i-s h4 {
  font-size: 14px;
  margin: 20px 0;
}

.data .s-i-s .align {
  display: flex;
  align-items: center;
}

.data .s-i-s .align div {
  width: 50%;
}

.data .s-i-s footer a {
  font-size: 12px;
  margin: 10px;
}

.data .rate {
  width: 35%;
}

@media screen and (max-width: 830px) {
  .data .rate {
    width: 70%;
  }
}

.data .rate div {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.data .rate div h4 {
  font-size: 14px;
  margin: 20px 0;
}

.data .rate div p {
  margin: 20px;
}

.data .rate div span {
  font-size: 13px;
  margin: 0 20px;
}

hr {
  border: 1px solid #e4e4e4;
}

@media screen and (max-width: 1280px) {
  .open-nav {
    width: 300px;
    background: #ffffff;
    z-index: 1;
    padding: 20px;
  }
}
