.menu-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.logo i {
  display: none;
}

.nav-list {
  width: 100%;
  height: 70%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
}

.nav-items {
  display: block;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
}

.name {
  display: flex;
  width: 100%;
}

.nav-items a {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.nav-items a i {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.nav-items a span {
  width: 80%;
}

.nav-items .nav-links {
  color: grey;
}

.name a {
  width: 50%;
}

.nav-items form button {
  background: none;
  border: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  cursor: pointer;
  color: #808080;
  font-family: "Montserrat";
}

.nav-items form button i {
  width: 20%;
}

.nav-items form button span {
  width: 80px;
}

.nav-links i {
  margin-right: 10px;
}

.menu-bar img {
  width: 65px;
  height: 50px;
}

@media screen and (max-width: 1280px) {
  .logo {
    width: 100%;
  }

  .logo i {
    display: block;
  }

  .menu-bar {
    width: 0%;
  }

  .name {
    display: flex;
    width: 100%;
  }

  .nav-items a i {
    width: 10%;
    justify-content: flex-start;
  }

  .name a {
    width: 100%;
  }

  .nav-items form button {
    justify-content: center;
    border: 1px solid grey;
    border-radius: 5px;
  }
}
