@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../components/nav.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #062863;
}

a {
  text-decoration: none;
}

main {
  margin-left: 15%;
}

main .header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 0;
}

.header i {
  display: none;
  margin-left: 30px;
}

.header h3 {
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bolder;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
  main {
    margin-left: 0;
  }

  .header i {
    display: block;
  }
}

.main-landing {
  padding: 20px 30px;
  background: #fff;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .main-landing {
    padding: 20px 10px;
  }
}

.landing {
  height: 90vh;
  padding: 30px;
  overflow: auto;
}

.action {
  margin: 50px 0 100px;
}

.action h1 {
  color: grey;
  font-size: 40px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  align-content: center;
}

@media screen and (max-width: 830px) {
  .cards {
    flex-direction: column;
  }
}

.cards div {
  height: 250px;
  width: 30%;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 20px;
  transition: transform 0.5s ease;
}

@media screen and (max-width: 830px) {
  .cards div {
    width: 300px;
    margin-top: 20px;
  }
}

.cards div:hover {
  transform: scale(1.02);
}

.cards div:nth-child(1) {
  background-color: #9494f8;
}

.cards div:nth-child(2) {
  background-color: #d2691e;
}

.cards div h3,
.cards div a {
  margin-bottom: 30px;
  color: white;
}
